@model IEnumerable<Proj.Models.Patient>
@{
    //ViewData["Title"] = "Список ";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Перечень</title>
</head>
<body>
    <h3>Пациенты</h3>
    <table>
        @foreach (var pat in Model)
        {
            <tr>
                <td>@pat.diagnosis </td>
            </tr>
        }
    </table>
</body>
</html>