
@{
    ViewData["Title"] = "Anketa";
}
<body>
    <form action="" method="post">
        <input type="text" name="Fio" size="20" /> ФИО<br />
        <input type="date" name="Date" size="20" /> Дата рождения<br />
        <input type="radio" name="Sex" value="Мужчина" checked="checked" />Мужчина
        <input type="radio" name="Sex" value="Женщина" checked="checked" /> Женщина<br />
        <input type="text" name="BirthPlace" size="20" /> Район<br />
        <input type="text" name="CityAdress" size="20" /> Название города<br />
        <input type="text" name="StreetAdress" size="20" /> Название улицы<br />
        <input type="text" name="Nationality" size="20" /> Национальность<br />
        <input type="submit" value="OK" />
    </form>
</body>

